delivery:
  http_port: 8000
  cookie_name: AngkutGan
view:
  static_path: ../frontend
users:
  jwt_key: [INSERT HERE]
  token_expiry: 5 #inminutes
  refresh_token: 30 #inseconds
repository:
  db_host: [INSERT HERE]
  db_name: [INSERT HERE]
  db_user: [INSERT HERE]
  db_pass: [INSERT HERE]
  default_pass: [INSERT HERE]