{{ define "sidebar/barang" }}
<!-- SIDEBAR -->
<div class="col-md-3 pb-3">
	<h4 class="nav-link text-title bold" href="#">Barang</h4>
	<ul class="nav flex-row flex-md-column nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="tabList" data-toggle="pill" href="#list">Daftar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabAdd" data-toggle="pill" href="#add">Tambah</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabEdit" data-toggle="pill" href="#edit">Ubah</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabPrice" data-toggle="pill" href="#price">Harga</a>
		</li>
	</ul>
</div>
<!-- END SIDEBAR -->
{{ end }}

{{ define "sidebar/pelanggan" }}
<!-- SIDEBAR -->
<div class="col-md-3 pb-3">
	<h4 class="nav-link text-title bold">Pelanggan</h4>
	<ul class="nav flex-row flex-md-column nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="tabList" data-toggle="pill" href="#list">Daftar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabAdd" data-toggle="pill" href="#add">Tambah</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabEdit" data-toggle="pill" href="#edit">Ubah</a>
		</li>
	</ul>
</div>
<!-- END SIDEBAR -->
{{ end }}

{{ define "sidebar/penjualan" }}
<!-- SIDEBAR -->
<div class="col-md-3 pb-3">
	<h4 class="nav-link text-title bold">Penjualan</h4>
	<ul class="nav flex-row flex-md-column nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="tabList" data-toggle="pill" href="#list">Daftar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabCreate" data-toggle="pill" href="#create">Buat Transaksi</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabShipment" data-toggle="pill" href="#shipment">Pengiriman</a>
		</li>
	</ul>
</div>
<!-- END SIDEBAR -->
{{ end }}

{{ define "sidebar/persewaan"}}
<!-- SIDEBAR -->
<div class="col-md-3 pb-3">
	<h4 class="nav-link text-title bold">Persewaan</h4>
	<ul class="nav flex-row flex-md-column nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="tabList" data-toggle="pill" href="#list">Daftar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabCreate" data-toggle="pill" href="#create">Buat Transaksi</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabShipment" data-toggle="pill" href="#shipment">Pengiriman</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabReturn" data-toggle="pill" href="#return">Pengembalian</a>
		</li>
	</ul>
</div>
<!-- END SIDEBAR -->
{{ end }}

{{ define "sidebar/admin" }}
<!-- SIDEBAR -->
<div class="col-md-3 pb-3">
	<h4 class="nav-link text-title bold">Admin</h4>
	<ul class="nav flex-row flex-md-column nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="tabList" data-toggle="pill" href="#list">Daftar</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabAdd" data-toggle="pill" href="#add">Tambah</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabEdit" data-toggle="pill" href="#edit">Ubah</a>
		</li>
	</ul>
</div>
<!-- END SIDEBAR -->
{{ end }}


{{ define "sidebar/profil" }}
<!-- SIDEBAR -->
<div class="col-md-3 pb-3">
	<h4 class="nav-link text-title bold">Profil</h4>
	<ul class="nav flex-row flex-md-column nav-pills" role="tablist">
		<li class="nav-item">
			<a class="nav-link" id="tabEdit" data-toggle="pill" href="#edit">Ubah</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="tabPass" data-toggle="pill" href="#pass">Tambah</a>
		</li>
	</ul>
</div>
<!-- END SIDEBAR -->
{{ end }}
