HTTP_PORT=8000
COOKIE_NAME=AngkutGan
STATIC_PATH=frontend
JWT_KEY=[INSERT HERE]
TOKEN_EXPIRY=20
REFRESH_TOKEN=30
DB_HOST=[INSERT HERE]
DB_NAME=[INSERT HERE]
DB_USER=[INSERT HERE]
DB_PASS=[INSERT HERE]
DEFAULT_PASS=[INSERT HERE]