{{ define "persewaan/daftar" }}
<!-- DAFTAR -->
<div class="tab-pane fade" id="list" role="tabpanel">
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Cari</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#" value="keyword">Nama</a>
			</div>
		</div>
		<input type="text" class="form-control datepicker" placeholder="cari tanggal transaksi" id="searchDate">
		<select type="text" class="form-control autocomplete" placeholder="cari kode pelanggan" name="search_code" id="searchCustomer" autocomplete="off"></select>
	</div>
	<table class="table accordion" id="tableTx">
		<thead>
			<tr>
				<th scope="col">Tanggal Penyewaan</th>
				<th scope="col">Nama Pelanggan</th>
				<th scope="col">Status</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<!-- LOAD BY JS -->
		</tbody>
	</table>
  {{ template "pagination/persewaan" }}
</div>
<!-- END DAFTAR -->
{{ end }}