{{ define "barang" }}
<html>

<head>
    <title>Barang</title>
    {{ template "css"}}
</head>

<body>
    {{ template "header" }}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            {{ template "sidebar/barang" }}
            <main class="col-md-9">
                <div class="tab-content" id="tabContent">
                    {{ template "barang/daftar" }}
                    {{ template "barang/tambah" }}
                    {{ template "barang/ubah" }}
                    {{ template "barang/jual" }}
                    {{ template "barang/sewa" }}
                </div>
            </main>
        </div>
    </div>
    {{ template "js" }}
    <script src="assets/js/barang.js"> </script>
</body>

</html>
{{ end }}